body {
	background-color: white;
	margin: 2em;
}

.container {
	font-family: "Verdana", sans-serif;
    	color: #277488;
    	font-size: 120%;
    	line-height: 1.21em;
    
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

h1 {
	margin: 1em 0;
	display: block;
	font-size: 200%;
	font-weight: 300;
	color: #277488;
}

p {
	margin:	2em 0;
}

li > ul {
    margin: 0.7em 0 1.5em;
}

a {
	text-decoration: underline;
}

a, a:visited, a:link {
	color: #277488;
}

 {
	color: #277488;
}
