body {
	background-color: #fdfdfd;
	margin:0 32px 32px;
}

.container {
	font-size: 14px;
	line-height: 1.6;
	font-weight: 300;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333333;
}

h1 {
	margin: 0 -32px;
	display: block;
	background-color: #fafbf2;
	font-size: 1.85em;
	font-weight: 300;
	text-align: center;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
	color: #277488;
	padding: 0.15em;
}

h2 {
	color: #277488;
	font-weight: 300;
	font-size:1.5em;
	margin-top:1.4em;
}

p {
	margin:	1em 0 1.8em;
}

li > ul {
    margin: 0.4em 0 1.5em;
}

a {
	text-decoration: none;
	color: #277488;
}
