body {
	background-color: white;
	margin:0 32px 32px;
}

.container {
	font-family: "Verdana", sans-serif;
    	color: #277488;
    	font-size: 13px;
    	line-height: 1.21em;
    
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

h1 {
	margin: 0 -32px;
	display: block;
	background-color: #fafbf2;
	font-size: 1.85em;
	font-weight: 300;
	text-align: center;
	/*box-shadow: 0 2px 8px rgba(0,0,0,0.1);*/
	color: #277488;
	padding: 0.5em;
}

h2 {
	font-family: "Verdana", sans-serif;
	font-weight: 700;
	color: #808000;
	font-size: 14px;
	line-height: 1.23em;
	margin-top: 1.4em;
}

p {
	margin:	0.7em 0 0.7em;
}

li > ul {
    margin: 0.7em 0 1.5em;
}

a {
	text-decoration: underline;
}

a, a:visited, a:link {
	color: #277488;
}

.banner {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 28px;
    color: white;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    padding: 12px;
    background-color: black;
}