<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="//CPCYorkPP/css/main2.css">
		</head>
		<body>
			<div class=banner>
				<div class=btitle>Clifton Parish Churches</div>
				<nav>
					<ul>
						<li><a href="/">Who are we?</a></li>
						<li><a href="/about">Services</a></li>
						<li><a href="/cv">What's On</a></li>
						<li><a href="/blog"></a></li>
					</ul>
				</nav>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:office.cpc@cliftonparish.org.uk">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
